{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": 2,
    "prettier/prettier": ["error", { "singleQuote": true, "printWidth": 100 }]
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "src/demo/"
  ]
}
